{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
<center>
<div class="products_all">
<ul class="products clearfix">
  {% for i in goods %}
	<li class="product-wrapper">
        <form method="post" class="form_product">
		    <div class="card">
                <img src={{ i.picture }} alt="" style="width:100%">
                <h1>{{ i.name }}</h1>
                <a class="title">{{ i.category }}</a>
                <p>Количество: {{ cur_cart[1][loop.index0] }}</p>
                <p>Цена {{ cur_cart[1][loop.index0] * i.price }} руб.</p>
                <div style="margin: 24px 0;">
            </div>
                <div>
                <input type="hidden" name="index_del" value={{ i.id }}>
            <input type="submit" class="btn_cart" value="Удалить из корзины">
            </div>
            </div>
        </form>
	</li>
  {% endfor %}
</ul>
    {% if flag == True %}
    <div align="center">Ваша корзина пока пуста.</div>
        <form method="POST">
    <input type="hidden" name="back_catalog" value='back_catalog'>
    <input type="submit" class="btn_cart" value="Вернуться в магазин">
    </form>
    {% else %}
    <form method="POST">
    <input type="hidden" name="orders" value='orders'>
    <input type="submit" class="btn_cart" value="Сделать заказ">
    </form>
    {% endif %}
</div>
</center>
{% else %}
        <div align="center">Авторизируйтесь чтобы воспользоваться коризиной</div>
        <form method="POST">
        <input type="hidden" name="back_catalog" value='back_catalog'>
        <input type="submit" class="btn_cart" value="Вернуться в магазин">
        </form>
{% endif %}
{% endblock %}